{% extends 'base.html' %}
{% load static %}


{% block title %}About Me{% endblock title %}

{% block content %}
<h1>About Me</h1>
    <div class="container">
        <img src="{% static 'img/photome1.jpg' %}" class="image img-fluid" alt="my image">
            <div class="text-fluid">My name is Blake Spears. I am 30 years old and I live in Elk River, Minnesota. I was born and
            raised in Louisiana. At the age of 22, I joined the U.S. Navy and served as an Aviation Electrician's Mate
            at HSC-23 on Naval Air Station North Island, Coronado, California. I met my wife in San Diego, and we have
            a beautiful 6 Year old daughter. I completed my 2nd enlistment at 6 years and transferred to the reserves
            to be with my family. After a year and a half, I completed my reserve enlistment and am now a machine operator and CDL driver for a construction company. Some
            hobbies I have are outdoor activities and DIY projects.
            </div>
        </div>
    </div>    

{% endblock content %}